@import './bootstrap';

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('/assets/fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/Lato-Regular-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('/assets/fonts/Lato-Black.ttf') format('truetype');
}

@each $color, $value in $colors {
  .bg-#{'' + $color} {
    background-color: #{$value};
    --bg-color: #{$value}; // helper variable for text-shadow etc.
  }
  .color-#{'' + $color} {
    color: #{$value};
  }
}

.bg-transparent {
  background-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

// this helps keep footer on bottom when no content on page
html,
body,
#__next {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.fw {
  &-light {
    font-weight: 300;
  }
  &-normal {
    font-weight: 400;
  }
  &-black {
    font-weight: 900;
  }
}

// visible only to readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.img-stretched {
  display: block;
  width: 100%;
  height: auto;
}

.basic-text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  color: $grey-1;
}

.basic-heading {
  font-size: 1.5rem;
}

@include media-breakpoint-up(md) {
  .basic-text {
    font-size: 1rem;
  }
}
